<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arvindandrion.bottleBote" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bottle Bote</name>
    <description>
        My Bottle Depot Mini Calculator
    </description>
    <author email="bonandrion@gmail.com" href="http://www.arvindandrion.com">
        Arvind Andrion
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
</widget>
